---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Section from '../components/Section.astro';
const title = 'A11y Crawler';
const allSections = await getCollection('sections');
// console.log(allSections);
---

<Layout {title}>
  <Sidebar {title} sections={allSections} />
  <main tabindex="0">
    <article class="flow">
      {allSections.map((section) => <Section id={section.id} slug={section.slug} />)}
    </article>
  </main>
</Layout>

<style></style>
